{% load static %}
<!DOCTYPE HTML PUBLIC>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Demo Verifying HTTP Requests via XMPP</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="{% static 'assets/css/ie9.css' %}"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{% static 'assets/css/ie8.css' %}"/><![endif]-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.0.10/css/fork-awesome.min.css"
          integrity="sha256-MJocQFrXYBrLYBcgXsrZDp5b8/fC51HP3+6yrY74XXI=" crossorigin="anonymous">
</head>
<body>
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <h1 id="logo"><a href="https://www.agayon.be">Agayon.be</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/logout">Sign out</a></li>
                <li><a href="/login" class="button special">Sign In</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main" class="wrapper style1">
        <div class="container">
            <header class="major">
                <h2>XEP-0070: Verifying HTTP Requests via XMPP</h2>
                <p>Verifying HTTP Requests via XMPP with Django</p>
            </header>
            {% block content %}

            {% endblock %}

        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="xmpp:info@agayon.be" class="fa fa-xmpp fa-2x" style="color: rgba(255, 255, 255, 0.75)"><span
                    class="label"></span></a></li>
            <li><a href="https://www.linkedin.com/in/arnaud-joset-622313129" class="fa fa-linkedin fa-2x"
                   style="color: rgba(255, 255, 255, 0.75)"><span class="label"></span></a></li>
            <li><a href="https://gitlab.com/r1d2/RPI" class="fa fa-gitlab fa-2x"
                   style="color: rgba(255, 255, 255, 0.75)"><span class="label"></span></a></li>
            <li><a href="https://blog.agayon.be" class="fa fa-external-link fa-2x"
                   style="color: rgba(255, 255, 255, 0.75)"><span class="label"></span></a></li>
            <li><a href="mailto:info[at]agayon.be" class="fa fa-envelope fa-2x"
                   style="color: rgba(255, 255, 255, 0.75)"><span class="label"></span></a></li>


        </ul>
        <ul class="copyright">
            <li>&copy; Agayon.be 2018. All rights reserved.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </footer>


</div>

<!-- Scripts -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'assets/js/skel.min.js' %}"></script>
<script src="{% static 'assets/js/util.js' %}"></script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js' %}"></script><![endif]-->
<script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>
