{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Content -->
<section id="content">
<a href="#" class="image fit"><img src="{% static 'images/pic06.jpg' %}" alt="" /></a>
<h3>Authentification failure, abort</h3>
</section>

{% endblock %}
